.ava-canvas, .ut-canvas {
    height:            165px;
    width:             auto;
    background-color:  #FFFFEE;
    border:            5px solid #CCCCCC;
    padding:           10px;
    margin-right:      10px;
    overflow:          auto;
}
